numpy>=1.24.0
scipy>=1.9.0

# Qiskit and Quantum Kernel functionality
qiskit-terra>=0.45.1
qiskit-aer>=0.17.1
qiskit-machine-learning>=0.8.3

# Development & testing
pytest>=7.0.0
pytest-cov>=4.0.0
pigar>=0.10.0
reservoirpy[hyper]>=0.3.13
hyperopt
matplotlib
jsonargparse
